@model List<QuanLyShop.Models.HOADON>
@{
    ViewBag.Title = "TIMKIEMHD";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(Model, canPage: true, defaultSort: "MaHD", rowsPerPage: 5);
    @Scripts.Render("~/Scripts/jquery-1.6.2.min.js")
    

}

<h2>TIMKIEM</h2>
<button>@Html.ActionLink("ADD", "Create")</button>
<html>
<head>
    <style type="text/css">
        .grid-footer {
            color: #000;
            font: 17px Calibri;
            text-align: center;
            font-weight: bold;
        }

            .grid-footer a {
                background-color: #ffffff;
                color: blue;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                padding: 1px 10px 2px 10px;
            }

                .grid-footer a:active, a:hover {
                    background-color: #ffffff;
                    color: #FFAD33;
                    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                }

        .alternatingRowStyle {
            background-color: aliceblue;
        }

        table .table1 {
            text-align: left;
            margin-left: 0px;
            margin-right: 0px;
            width: 800px;
        }

        .tr, .td {
            text-align: left;
        }
    </style>
</head>
<body>
    <div>
        @using (Html.BeginForm("TIMKIEMHD", "HOADONs", FormMethod.Get))
        {
            @Html.AntiForgeryToken()


        <table class="table1" align="center">
            <td>

                <table>
                    <tr>
                        <td>
                            <div> Mã Mã Hóa Đơn</div>
                        </td>
                        <td>
                            <input type="text" name="maHD" value="@ViewBag.maHD" />
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <div> Mã Nhân Viên</div>
                        </td>
                        <td>
                            <input type="text" name="maNV" value="@ViewBag.maNV" />
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <div> Mã Khách Hàng</div>
                        </td>
                        <td>
                            <input type="text" name="maKH" value="@ViewBag.maKH" />
                        </td>

                    </tr>

                </table>
            </td>
            <td>

                <table>
                    

                    <tr>
                        <td> Tổng Tiền</td>
                        <td>
                            <input type="text" name="tien" value="@ViewBag.tien" />
                        </td>

                    </tr>

                    <tr>
                        <td> Ngày Lập Hóa Đơn</td>
                        <td>
                            <input type="text" name="NgayLHD" value="@ViewBag.NgayLHD" />
                        </td>

                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
            </td>
           
            


            <tr>
                <td></td>
                <td>
                    <input type="submit" name="submit" value="Tìm kiếm" style="margin-left: 5px;width:100px;
                background-color: blue;color:white" />
                    <input type="button" name="Nhapmoi" value="Nhập mới" style="margin-left: 5px;width:100px;
                background-color: blue;color:white" onclick="location.href='@Url.Action("Index", "HOADONs/TIMKIEMHD")'" />

                </td>
            </tr>
        </table>
        }
    </div>

    <div id="gridContent">
        @ViewBag.TB
        @grid.GetHtml(
            tableStyle: "table table-bordered table-hover",
            footerStyle: "grid-footer",
            fillEmptyRows: true,
            mode: WebGridPagerModes.Numeric,
            alternatingRowStyle: "alternatingRowStyle",
              columns: new[]  // colums in grid
             {
                grid.Column("STT",format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
                grid.Column("MaHD","Mã Nhân Hóa Đơn"), //the model fields to display
                grid.Column("MaKH","Mã Khách Hàng"  ),
                grid.Column("MaNV","Mã Nhân Viên"),
                grid.Column("NgayMua","Ngày Mua",format:@<text> @item.NgayMua.ToString("dd/MM/yyyy")</text>),
grid.Column("NgayLapHD","Ngày Lập Hóa Đơn",format:@<text> @item.NgayLapHD.ToString("dd/MM/yyyy")</text>),
grid.Column("TongTien","Tổng tiền HD"),

grid.Column("NoiNhan","Nơi Nhận"),
grid.Column("GhiChu","Ghi Chú"),

grid.Column(format: (item) => Html.ActionLink("Cập nhật", "Edit", "HOADONs",new { id = item.MaHD },"HOADONsController")),
grid.Column(format: (item) => Html.ActionLink("Xem chi tiết", "Details","HOADONs", new { id = item.MaHD },"HOADONsController")),
grid.Column(format: (item) => Html.ActionLink("Xóa", "Delete","HOADONs", new { id = item.MaHD },"HOADONsController")),
}
)
    </div>

</body>
</html>